.spotlight-text {
	position: relative;
	color: white;
	font-family: "Shadows Into Light", cursive;
	letter-spacing: 1px;
	font-size: 1.2rem;
	text-align: center;
}

.author-name {
	position: relative;
	color: white;
	margin: 2rem auto;
	font-family: "Advent Pro", sans-serif;
	font-size: 1rem;

	text-align: center;
}

@media (max-width: 900px) {
}

/* @supports (-webkit-touch-callout: none) {
    

    
    
  } */
