html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(17, 17, 17);
   
    
   
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.802);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    z-index: 1;
    
}

.anchor {
    padding-top: 6rem;
}


.header-tab {
    cursor: pointer;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.959);
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    
    
}
.header-tab:hover {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: slideout .15s 1 forwards linear;
}


.title {
    background-image: url(images/main/DavidNameDev.svg);
    height: 60%;
    width: 30%;
    background-repeat: no-repeat;
    margin-left: 4%;


}

.tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 255, 0.959);
    width: 70%;
    height: 1rem;
    margin-right: 2%;
    font-size: 80%;
}

.divider {
    margin: 0;
    color: #b297ae;
}
.intro {
    font-family: 'Advent Pro', sans-serif;
    color: white;
    font-size: 1.5rem;
    padding: 10rem 2rem 4rem;
}

.apps {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.app-row {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 4rem 0;

}

.app-row:nth-child(even) {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 4rem 0;
   align-self: flex-start;

}



.scene {
    
    width: 300px;
    height: 400px;
    perspective: 600px;
}


.card {
    width: 300px;
    height: 400px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* PANEL RELATED CODE */

.panel-container {
    position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Advent Pro', sans-serif;
    background-color: white;
    
    border: none;
    outline: none;

}

.front {
   justify-content: space-evenly;
  }
  
.back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: rotateY( 180deg );
  }
  .is-flipped {
    transform: rotateY(180deg);
  }

.panel-title {
    position: relative;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2rem;
    align-self: center;   
}

.panel-picture {
    align-self: center;
    width: 90%;
    height: 200px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border: solid 1px black;
}
.lower-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel-stats {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
}

.navigate {
    width: 40%;
    align-self: center;
    background-color: rgba(94, 51, 94, 0.83);
    outline: none;
    border: none;
    color: white;
    height: 1.5rem;
    margin-bottom: 1rem;
}

.panel-description {
    width: 80%;
    align-self: center;
    margin-top: 2rem;
}