html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: url(./Front-End/images/backgroundMain.jpeg) center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.title {
	width: 80vw;
	margin: 4rem auto 20vh;
	text-align: center;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.329);
}

.link-container {
	display: inline;
}

.link-container img {
	position: absolute;
	width: 35vw;
	opacity: 0.95;
	padding: 2vw;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.8;
}

.composer {
	left: 5%;
}

.developer {
	right: 5%;
}

.link-container img:hover {
	animation: grow 0.15s forwards 1 linear;
}

.link-container img:not(:hover) {
	animation: shrink 0.15s forwards 1 linear;
}

@keyframes grow {
	0% {
		transform: scale(1);
		opacity: 0.8;
		background-color: rgba(0, 0, 0, 0.8);
	}

	100% {
		transform: scale(1.2);
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.9);
	}
}

@keyframes shrink {
	0% {
		transform: scale(1.2);
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.9);
	}

	100% {
		transform: scale(1);
		opacity: 0.8;
		background-color: rgba(0, 0, 0, 0.8);
	}
}
