html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(17, 17, 17);
   
    
   
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.802);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    width: 100%;
    z-index: 1;
    background-image: url(images/main/DavidName.svg);
    background-repeat: no-repeat;

}




.header-thin {
    animation: shrink .25s ease-in 1 forwards;
}

.header-full {
    animation: grow .15s linear 1 forwards;
}


@keyframes shrink {
    0% {
        height: 6rem;
    }

    100% {
        height: 3rem;
        background-image: url(images/main/DavidNameThin.svg);
    }
}

@keyframes grow {
    0% {
        height: 3rem;
        background-image: url(images/main/DavidNameThin.svg);
    }
    
    100% {
        height: 6rem;
        background-image: url(images/main/DavidName.svg);

    }
}


.anchor {
    padding-top: 3rem;
}
.comp-info strong {
    font-weight: bold;
    color: rgb(96, 96, 96);
    margin-right: .5rem;
}

.header-tab {
    cursor: pointer;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.959);
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
   
    
}
.header-tab:hover {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    animation: slideout .15s 1 forwards linear;
}



.tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 255, 0.959);
    width: fit-content;
    height: 1rem;
    margin-right: 2%;
    font-size: 80%;
}

.divider {
    margin: 0;
    color: #b297ae;
}

/* Home Section */
.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
    /* background-image: url(images/background.svg);
 background-size: cover; */
}

.spotlight-text {
    position: relative;
    color: white;
    margin-top: 8rem;
    font-family: 'Shadows Into Light', cursive;
   width: 80%;
    font-size: 2rem;
    text-align: center;

}

.author-name {
    position: relative;
    color: white;
    margin: 1rem 0 8rem;
    font-family: 'Advent Pro', sans-serif;
    
}



.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    user-select: none;
}

.about-me-title {
    margin: 8rem 0 4rem 0;
    font-size: 3rem;
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    padding: 1rem 0 1rem 0;
    background: rgb(16, 15, 15);
    width: 100%;
    text-align: center;
    border: none;
}

.about-me-text {
    
    width: 100%;
    background-color: rgba(59, 59, 59, 0.047);
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    width: 70%;
 
}

.my-image {
    height: 200px;
    width: 150px;
    float: left;
    margin: 0.5rem 1rem 0 1rem;
    border: none;
}
.about-me-text p {
    line-height: 1.5;
    text-indent: 50px;
}

/* carousel related */

.carousel {
    user-select: none;
    position: relative;
    width: 800px;
    height: 400px;
    border: none;
    overflow: hidden;
    background-image: linear-gradient(white, rgb(219, 219, 219), rgb(238, 222, 222));
}


.pane-1 {
    position: absolute;
    height: 100%;
    width: 100%;

}

.text-1 {
    font-size: 3rem;
    color: white;
}

.pane-2 {
    position: absolute;
    height: 100%;
    width: 100%;

}

.text-2 {
    font-size: 3rem;
    color: #000000;
}

.pane-3 {
    position: absolute;
    height: 100%;
    width: 100%;

}

.text-3 {
    font-size: 3rem;
    color: #000000;
}

.main-images {
    width: 100%;
    height: 100%;
}

.slide-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 3rem;
}


.carousel:hover .hidden {
    opacity: .5;
}

.pane {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pause {
    height: 2rem;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    opacity: 0;
    cursor: pointer;
}

.pause-active {
    z-index: 2;
    opacity: 0;
}

.pane-ticker {

    height: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 5;

}

.pane-tick {
    height: 1rem;
    ;
    width: 8%;
    border: none;
    padding: .5rem 0;
}

.invisible-panel {
    opacity: 0;
}

.invisible-text {
    opacity: 0;
}

.active-panel {
    opacity: 1;
}

.manual-navigation {
    position: absolute;
    width: 20%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    bottom: 5%;
    right: 5%;
}

.forward {
    opacity: 0;
}

.backward {
    opacity: 0;
}

.forward:hover {
    animation: pulse 1s linear infinite;
    opacity: .75;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 100%;
}

.backward:hover {
    animation: pulse 1s linear infinite;
    opacity: .75;
    background-color: rgba(255, 255, 255, 0.507);
    background-size: 50%;
    border-radius: 100%;
}

.navigate {
    height: 2rem;
}


/* Slide animations */

.slide-in {
    animation: slideIn .5s linear 1 forwards;
}

.fade-in {
    animation: fadeIn .5s linear 1 forwards;
}

.fade-in-one {
    animation: fadeIn .25s linear 1 forwards;
}
.fade-out {
    animation: fadeOut .25s linear 1 forwards;
}

.oval-shrink {
    animation: oval-shrink 1.5s linear 1 forwards;
}

.crazy {
    animation: crazy 1.5s linear 1 forwards;
}

/* Slide Animations */

@keyframes slideIn {
    from {
        right: 100%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes oval-shrink {
    from {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 0%;
        left: 0%;
        top: 0%;
    }

    to {

        width: 80%;
        height: 80%;
        border-radius: 50%;
        left: 10%;
        top: 10%;
    }
}

@keyframes crazy {
    0% {
        border-right: 0%;
        border-left: 0%;
        border-top: 0%;
        border-bottom: 0%;
    }

    20% {}

    40% {}

    60% {}

    80% {}

    100% {
        border-right: 40%;
        border-left: 40%;
        border-top: 40%;
        border-bottom: 40%;

    }
}


/* Text animations */

.top-left {
    animation: top-left 1s 1 forwards linear;
}

.top-right {
    animation: top-right 1s 1 forwards linear;
}

.center-short {
    animation: center-short 1s 1 forwards linear;
}

.center-long {
    animation: center-long 1s 1 forwards linear;
}

/* Text Animations */

@keyframes slideUp {
    0% {
        top: 20%;
        right: -20%;
        width: 30%;
        text-align: center;

    }

    100% {
        top: 5%;
        right: 5%;
        width: 30%;
        text-align: center;


    }
}

@keyframes top-right {
    0% {
        opacity: 0;
        top: 5%;
        right: 4%;
        width: 30%;
        text-align: center;
    }

    50% {
        opacity: .2;
        right: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        right: 1%;
        width: 30%;
        text-align: center;
    }
}

@keyframes top-left {
    0% {
        opacity: 0;
        top: 5%;
        left: 4%;
        width: 30%;
        text-align: center;
    }

    50% {
        opacity: .2;
        left: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        left: 1%;
        width: 30%;
        text-align: center;
    }
}

@keyframes center-long {
    0% {
        opacity: 0;
        top: 2%;
        width: 100%;
        text-align: center;
    }

    50% {
        opacity: .2;
        top: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        width: 100%;
        text-align: center;
    }
}

@keyframes center-short {
    0% {
        opacity: 0;
        top: 5%;
        width: 50%;
        left: 25%;
        text-align: center;
    }

    50% {
        opacity: .2;
        top: 3%;
    }

    100% {
        opacity: 1;
        top: 2%;
        width: 50%;
        left: 25%;
        text-align: center;
    }
}

/* Music Sections and Audio Players */

.music-container {
    position: relative;
    background-color: rgb(17, 17, 17);
    margin: 8rem 0 0 0;
    user-select: none;

}


.music-header {

    outline: none;
    border: none;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(16, 15, 15);
    margin: 0 0 2rem 0;
   
    
}

.music-title {
    font-size: 3rem;
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    padding: .5rem 0 0 0;
}

.music-tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fffffff6;
    width: 100%;
    height: 2rem;
    background: rgb(15, 15, 15);
}

.music-tab-button {
    cursor: pointer;
    width: 19%;
    text-align: center;
    border-radius: 20%;
}

.music-tab-button:hover {
     background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    animation: slideout1 .15s 1 forwards linear;
}

.retract {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: retract .15s 1 forwards linear;
}

.retract1 {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    animation: retract1 .15s 1 forwards linear;
}

@keyframes slideout {
   
    100% {    
        background-size: 100%;
    }
}

@keyframes slideout1 {
   
    100% {    
        background-size: 50%;
        
    }
}

@keyframes retract {
    0% {
        background-size: 100%;
    }
    100% {    
        background-size: 0;
    }

}

@keyframes retract1 {
    0% {
        background-size: 50%;
    }
    100% {    
        background-size: 0;
    }

}

.music-sections {
    position: relative;
    padding: 0 0 2rem 0;
}

.contact-text {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

.invisible {
    display: none;
}

/* Music for Media section */

.media-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(images/background.svg);
    background-size: cover;
    color: white;
}

.audio-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: .5rem 0;

}

.display-window {
    position: relative;
    height: 450px;
    border: rgba(147, 38, 155, 0.068) solid 8px;
    width: 750px;
    margin: 0 0 0 12.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/media-music-display/turning-point.svg);
}

.player-column {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 370px;
    height: 464px;

}

.player-column::-webkit-scrollbar {
    width: 4px;
    background-color: #00a5a5;
}

.player-column::-webkit-scrollbar-thumb {

    background-color: rgb(71, 20, 71);

}

::-webkit-scrollbar-thumb {

    background-color: rgb(71, 20, 71);
    border: none;

}

::-webkit-scrollbar {
    width: 4px;
    background-color: #00a5a5;
}

.audio-file {
    width: 100%;
    align-self: center;
}

.audio-small {
    font-size: .75rem;
}

.audio-progress {
    -webkit-appearance: none;
    height: 2px;
    position: relative;
    width: 200px;
    cursor: pointer;
}

.audio-player {
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(5, 5, 5, 0.342), rgba(59, 59, 59, 0.966));
    z-index: 0;
    margin: .05rem 0;

}

.audio-strong {
    color: white;
    font-size: .8rem;
    font-weight: 300;
}

.audio-lower-row {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.audio-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.audio-player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
}

.audio-timers-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.audio-current-position {
    margin: 30px 0 0 -20px;
    font-size: .6rem;
}

.audio-time-remaining {
    margin: 30px 5px 0 0;
    font-size: .6rem;
}

.audio-progress-button {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: none;
    position: absolute;
    background: radial-gradient(white, purple, black);
    margin-left: -110px;
}

.audio-buttons {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.audio-volume {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.audio-player-title {
    position: absolute;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    align-self: center;


}

.volume-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.audio-volumeBar {
    -webkit-appearance: none;
    background: linear-gradient(to left, rgb(0, 165, 165), rgba(0, 0, 0, 0));
    height: 6px;
    width: 30px;
    /* visibility: hidden; */
    cursor: pointer;
    outline: none;
}

.audio-progress::-webkit-progress-bar {
    background-color: rgb(139, 139, 139);
    z-index: 3;
}

.audio-progress::-webkit-progress-value {
    background-image: linear-gradient(to right, grey, rgb(202, 202, 202), rgb(0, 165, 165));
}

.audio-volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border: none;
    background: radial-gradient(white, purple, black);
    border-radius: 100%;
}

/*  Music sections related */

.music-sections-title {
    padding: 2rem 0 0 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

.music-sections {
    color: white;
    width: 100%;

}

.comp-info {
    font-family: 'Advent Pro', sans-serif;
    display: inline-flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    margin: 1rem 0;
    background-color: rgba(3, 3, 3, 0.342);
    border-radius: 10%;
}

.card-title {
    font-size: 1.5rem;
}

.fa-file-pdf {
    color: purple;
    cursor: pointer;
}

/* Small Audio Player CSS */

.small-audio {
    height: 1rem;
    width: 200px;
    font-size: .5rem;
}

.small-audio-area {
    width: 100%;
    height: 100%;
}

.small-player {
    position: relative;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(52, 3, 54, 0.342), rgba(160, 6, 139, 0.66));
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5rem;
    border-radius: 3%
}

.small-button {
    height: 20px;
    width: 20px;
}

.small-progress {
    -webkit-appearance: none;
    height: 3px;
    position: relative;
    width: 100px;
    cursor: pointer;
}

.small-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6px;
    width: 6px;
    border: solid 1px rgb(0, 165, 165);
    background-color: rgb(0, 165, 165);
    border-radius: 100%;
}

.audio-sample-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-player-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.small-atrow {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.small-acp {
    font-size: .5rem;
    margin: 0 0 0 10px;
}

.small-atr {
    font-size: .5rem;
    margin: 0 -2px 0 0;
}


.small-volume-pair {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-end;
    height: 30px;
    width: 8px;
}

.volumeBar-small {
    -webkit-appearance: none;
    position: absolute;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.555), rgba(255, 255, 255, 0));
    height: 4px;
    width: 20px;
    margin-left: -8px;
    margin-top: 0;
    transform: rotate(-90deg);
    visibility: hidden;
    cursor: pointer;
}

.small-volume {
    position: relative;
    width: 8px;
    height: 8px;
    margin-top: 10px;
}

.small-progress-button {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: none;
    position: absolute;
    background: radial-gradient(white, rgb(0, 165, 165), black);
    margin-left: -128px;
    top: 11px;
}

.volumeBar-small::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6px;
    width: 6px;
    border: solid 1px rgb(243, 243, 243)(233, 226, 226);
    background-color: rgb(211, 211, 211);
    border-radius: 100%;
}

/* News Section */
.news {
    padding-bottom: 2rem;
    user-select: none;
}

.news-title {
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    background-color: rgb(16, 15, 15);
    margin: 0 0 2rem 0;

}
.news-items-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.news-row {
    position: relative;
    display: flex;
    margin: .5rem 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 240px;
    background: rgba(39, 39, 41, 0.442);
    border: none;
    
}
.news-expand {
cursor: pointer;
color: #00a5a5;
}


.liz-c {
    display: none;
}



.news-slot-main { 
    background-color: rgba(112, 89, 121, 0.796);
    position: relative;
    border: none;
    width: 48%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
}

.news-slot-one {
    width: 48%;
    height: 200px;
    
}

.news-slot-one a {
    text-decoration: none;
    color: #00a5a5;
    
}
.news-slot-two {
    width: 22%;
    border: purple 1px solid;
}

.news-item-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(236, 236, 236);
}

.news-text {
    color: rgb(191, 191, 191);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    
}

.news-text-1 {
    color: rgb(191, 191, 191);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Advent Pro', sans-serif;
    font-size: .88rem;
    line-height: 1.2rem;
    
}
.news-image {
    height: 150px;
    width: 187px;
    float: left;
    margin: 0 1rem 0 0;
}

.news-image-1 {
    height: 150px;
    width: 120px;
    float: left;
    margin: 0 1rem 0 0;
}

.square {
    height: 150px;
    width: 150px;
}
/* Blog Section */
.blog {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.blog-title {
    background-color: rgb(16, 15, 15);
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    margin: 0 0 1rem 0;
}
.blog-items-container {

    padding: 1rem 0;
    
}

.blog-row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem;
    width: 98%;
}

.preview-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.blog-preview-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 300px;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5rem;
}


.other-story.main-story {
    position: relative;
    width: 600px;
    height: 300px;
    flex: 0 0 auto;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
   
}

.nav-title {
    font-size: 1.5rem;
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    width: 100%;
    height: 10%;
    line-height: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);

}

.nav-image {
    height: 90%;
    width: 100%;

}



.blog-row-two {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
}
.other-story {
  
    width: 23%;
    height: 250px;
}
/* Footer/Contact section */

.contact {
    user-select: none;
}
.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(25, 24, 24);
    border: none;
    
}
.contact-body p {
position: relative;
 margin: 1rem 0 2rem 0;
 text-align: center;
 color: white;
 
}

.contact-body {
    font-family: 'Advent Pro', sans-serif;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.message-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.694);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    width: 99%;
    z-index: 3;
    margin: 8rem auto 4rem;
    user-select: none;
}

.footer-icons {
   height: 30px;
   border: none;
   outline: none;
   margin: 0 1rem 0;
   cursor: pointer;
}


.advent {
    font-family: 'Advent Pro', sans-serif;
    color: white;
}

.signature {
    height: 3rem;
    
  }
  .by-me {
    position: absolute;
    display: flex;
    right: 85%;
    font-family: 'Advent Pro', sans-serif;
    
  }
  
  .by-me p {
    padding-right: .8rem;
    padding-left: .8rem;
    align-self: center;
    color: white;
    
  }