html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-image: url('images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    margin: 0 auto 1rem;
    font-size: 2rem;
    color: white;
}

h2 {
    margin: 0 auto 1rem;
    color: white;

}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem .25rem;
    margin: 0 auto;

}

input,
textarea,
select,
option {
    background-color: rgb(62, 62, 83);
    border: none;
    color: white;
    
    border-radius: 5%;

}

input:hover,
textarea:hover,
select:hover {
    background-color: rgb(76, 76, 88);

}

p {
    font-size: .8rem;
    align-self: center;
    color: rgb(255, 204, 204);
    padding-top: 0;

}

.form {
    margin: 5% auto;
    width: 40%;
    min-width: 350px;
    padding: 1rem 2rem;
    background-image: linear-gradient(rgb(81, 81, 134), rgba(58, 58, 131, 0.87), rgba(42, 42, 175, 0.863), rgba(15, 15, 196, 0.856));
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-family: 'Montserrat', sans-serif;
}


.label {
    margin: auto 0;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    width: 9rem;


}

.submit {
    width: 25%;
    margin: 1rem auto 0;
    background-image: linear-gradient(to right black, blue);
    border-radius: 6%;
    border: none;
    padding: .5rem;
    color: whitesmoke;
}

.check {
    display: flex;
    flex-direction: column;
    padding: 1rem;


}

.check-row {
    display: flex;
    padding: .05rem;
    width: 100%;
    font-size: .8rem;

}

.time {
    padding: 0;
    font-size: .8rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content-title {
    margin: 0 auto;
    color: white;

}

.label1 {
    margin: 0;
    padding: 0;
    color: white;
}

.row-big {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    margin: 0;

}

.column-big {
    display: flex;
    flex-direction: column;
    min-width: 48%;
    max-width: 90%;

}

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    padding: 1rem 0 0;

}

.file {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 3rem;
    padding: 1rem;


}

.underline {
    text-decoration-line: underline;
}


.hide {
    visibility: hidden;
}

.green {
    color: rgb(60, 255, 60);
    padding-left: .25rem;
}

.required {
    max-height: 1rem;

}



@media only screen and (min-width: 1300px) {
    .column-big {
        max-width: 48%;
    }

    
}

@media only screen and (max-width: 1299px) {
    .form {
        max-width: 30%;
    }

    body {
        background-size: 100% 100%;
    }
}
/* .file {
    margin-bottom: 2rem;
} */