$dark-border-color: rgb(86, 226, 245);
$light-border-color: rgb(230, 230, 230);

%light-theme {
	color: black;
	background-color: white;
	border-color: $light-border-color;
	transition: 0.5s;

	.blog-footer {
		background-color: rgb(30, 30, 30);
	}
	.load-comments-button {
		background: rgb(30, 30, 30);
	}
	.nav-icon,
	.icons-container {
		border-color: $light-border-color;
	}

	.article-content {
		a {
			text-decoration: underline;
			color: rgb(0, 176, 199);
		}
	}
}

%dark-theme {
	color: white;
	background: rgb(30, 30, 30);
	border-color: $dark-border-color;

	transition: 0.5s;
	.blog-header {
		background-color: rgb(20, 20, 20);
	}
	.blog-footer {
		background-color: rgb(20, 20, 20);
	}
	.load-comments-button {
		background: rgb(20, 20, 20);
	}
	.article-content {
		a {
			text-decoration: none;
			color: rgb(86, 226, 245);
		}
	}
}

.App {
	// font-family: "Gruppo", cursive;
	font-family: "Barlow", sans-serif;
	// @extend %light-theme;
	@extend %light-theme;
}

.App-dark {
	font-family: "Barlow", sans-serif;
	@extend %dark-theme;
}

pre {
	background-color: black;
}
