html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(17, 17, 17);
   
    
   
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.802);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    width: 100%;
    z-index: 3;
    background-image: url(../images/main/DavidNameDev.svg);
    background-repeat: no-repeat;


}




.header-thin {
    animation: shrink .25s ease-in 1 forwards;
}

.header-full {
    animation: grow .15s linear 1 forwards;
}


@keyframes shrink {
    0% {
        height: 6rem;
    }

    100% {
        height: 3rem;
        background-image: url(images/main/DavidNameThin.svg);
    }
}

@keyframes grow {
    0% {
        height: 3rem;
        background-image: url(images/main/DavidNameThin.svg);
    }
    
    100% {
        height: 6rem;
        background-image: url(images/main/DavidName.svg);

    }
}

.anchor {
    padding-top: 6rem;
}

.header-group {
    display: flex;
    flex-direction: column;
}
.header-tab {
    cursor: pointer;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.959);
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    
    
}
.underline {
height: .1rem;
}
.header-tab:hover + .underline {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: slideout .15s 1 forwards linear;
}



.retract {
    background-image: linear-gradient(rgb(0, 121, 148), rgb(33, 130, 165));
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: retract .15s 1 forwards linear;
}

@keyframes slideout {
   
    100% {    
        background-size: 70%;
    }
}

@keyframes retract {
    0% {
        background-size: 70%;
    }
    100% {    
        background-size: 0;
    }

}

.title {
    background-image: url(../images/main/DavidNameDev.svg);
    height: 60%;
    width: 30%;
    background-repeat: no-repeat;
    margin-left: 4%;


}

.tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 255, 0.959);
    width: 70%;
    height: 1rem;
    margin-right: 2%;
    font-size: 80%;
}

.divider {
    margin: 0;
    color: #b297ae;
}
.intro {
    font-family: 'Advent Pro', sans-serif;
    color: white;
    font-size: 1.5rem;
    padding: 10rem 2rem 4rem;
}

.apps {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.app-row {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 4rem 0;

}

.app-row:nth-child(even) {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 4rem 0;
   align-self: flex-start;

}



.scene {
    
    width: 300px;
    height: 400px;
    perspective: 600px;
}


.card {
    width: 400px;
    height: 400px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* PANEL RELATED CODE */

.panel-container {
    position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Advent Pro', sans-serif;
    background-color: white;
    cursor: grab;
    border: none;
    outline: none;

}

.front {
   justify-content: space-evenly;
   background-image: url(../images/front-end/card-front.svg);
  }
  
.back {
    background-image: url(../images/front-end/card-back.svg);
    transform: rotateY( 180deg );
    background-repeat: no-repeat;
    background-size: cover;
  }
  .is-flipped {
    transform: rotateY(180deg);
  }


.panel-title {
    position: relative;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2rem;
    align-self: center;   
}
.back .panel-title {
      margin-top: 2rem;
      color: white;
}


.panel-picture {
    align-self: center;
    width: 90%;
    height: 200px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   border: solid 1px black;
}
.lower-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel-stats {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
}

.navigate {
    width: 40%;
    align-self: center;
    background-color: rgba(94, 51, 94, 0.83);
    outline: none;
    border: none;
    color: white;
    height: 1.5rem;
    margin-bottom: 1rem;
    z-index: 3;
    cursor: pointer;
}

.panel-description {
    width: 80%;
    align-self: center;
    margin-top: 2rem;
}

.back .panel-description {
    position: absolute;
    margin-top: 8rem;
}
/* Feedback Section */

.feedback-title {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 3rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    background-color: rgb(12, 12, 12);
    color: white;
}

.feedback-placeholder {
    color: white;
    font-family: 'Advent Pro', sans-serif;
    padding: 3rem;
    text-align: center;
}

/* Blog Section */

/* Blog Section */
.blog {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.blog-title {
    background-color: rgb(16, 15, 15);
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    margin: 0 0 1rem 0;
}
.blog-items-container {

    padding: 1rem 0;
    
}

.blog-row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem;
    width: 98%;
}

.preview-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.blog-preview-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 300px;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5rem;
}


.other-story.main-story {
    position: relative;
    width: 600px;
    height: 300px;
    flex: 0 0 auto;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
   
}

.nav-title {
    font-size: 1.5rem;
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    width: 100%;
    height: 10%;
    line-height: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);

}

.nav-image {
    height: 90%;
    width: 100%;

}



.blog-row-two {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
}
.other-story {
  
    width: 23%;
    height: 250px;
}
/* Footer/Contact section */

.contact {
    user-select: none;
}
.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(25, 24, 24);
    border: none;
    
}
.contact-body p {
position: relative;
 margin: 1rem 0 2rem 0;
 text-align: center;
 color: white;
 
}

.contact-body {
    font-family: 'Advent Pro', sans-serif;
}

.email-content {
    padding: 0 1rem;
}
.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.message-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.694);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    width: 99%;
    z-index: 3;
    margin: 8rem auto 4rem;
    user-select: none;
}

.footer-icons {
   height: 30px;
   border: none;
   outline: none;
   margin: 0 1rem 0;
   cursor: pointer;
}


.advent {
    font-family: 'Advent Pro', sans-serif;
    color: white;
}

.signature {
    height: 3rem;
    
  }
  .by-me {
    position: absolute;
    display: flex;
    right: 85%;
    font-family: 'Advent Pro', sans-serif;
    
  }
  
  .by-me p {
    padding-right: .8rem;
    padding-left: .8rem;
    align-self: center;
    color: white;
    
  }