html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    flex-direction: column;
    position: relative;
    /* background: url('/David Campbell Website/images/blog/content-bg.svg'); */
}


.header {
    /* background-image: url('/David Campbell Website/images/blog/header-bg.svg'); */
    width: 100%;
    margin: 0 auto 0;
    position: relative;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navigation-row {
    position: relative;
    height: 2rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: .25rem 0 0 0;
    
    
}

.navigation {
    text-decoration: none;
    color: black;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
    margin: 0 .5rem;
    cursor: pointer;
}



.big-title {
   position: relative;
   z-index: -1;
  
}

.all-content {
    margin-top: 4rem;
}

.issue {
    margin: 6rem 0 1rem 2rem;
    font-size: .9rem;
    font-weight: 900;
    border-bottom: .5px solid black;
    width: 6rem;
    padding-bottom: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.5rem;

}

.blog-area {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Spartan', sans-serif;
}

.content {
    background-size: 100%;
    width: 80%;
    margin: 4rem auto;
}

.divider-top {
    width: 15%;
    border-bottom: 2px solid #00a5a5;
    margin: 0 auto 4rem;
    padding: 2rem 0 0 0;
}

.divider-bottom {
    width: 15%;
    border-top: 2px solid #00a5a5;
    margin: 4rem auto 0;
    padding: 0 0 16rem 0;
}

.article-list {
    margin: 4rem 0;
    width: 100%;
    position: relative;
    border: none;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
}

.article-title {
    font-size: 5rem;
    width: fit-content;
    margin: 4rem auto 4rem;
    text-align: center;
}

.article-text {
    font-size: 1.2rem;
    margin: 0 2rem;
    line-height: 1.5;
}

/* Scrollbar Stuff */

::-webkit-scrollbar {

    width: 4px;
    background-color: #00a5a5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(71, 20, 71);
}

.article-list::-webkit-scrollbar {
    height: 4px;
    background-color: #00a5a5;
}

.article-list::-webkit-scrollbar-thumb {
    background-color: rgb(71, 20, 71);
    border: none;
}

.nav-link {
    flex: 0 0 auto;
    text-decoration: none;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 .25rem;
}

.nav-title {
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    background-color: rgba(255, 255, 255, 0.408);
    width: 100%;
    height: 6rem;
    line-height: 2rem;
    text-align: center;
    color: black;
}

.nav-image {
    height: 10rem;
    width: 20rem;
}

.articles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-articles {
    width: 25%;
}


/* -------------------- RESONSIVE DESIGN ----------------------------- */
@media (max-width: 1200px) {
   
    
    .article-title {
        font-size: 4rem;
    }
}


@media (max-width: 900px) {
    .navigation {
        font-size: 1.3rem;
    }
    .article-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {
    .navigation {
        font-size: 1.1rem;
    }
    .article-title {
        font-size: 3rem;
    }
}