html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	position: relative;
	background-color: rgb(17, 17, 17);
}

/* ---------------------------- CONTACT SECTION ---------------------------- */

/* ---------------------------- SCROLLBAR SECTION ---------------------------- */

::-webkit-scrollbar-thumb {
	background-color: rgb(71, 20, 71);
	border: none;
}

::-webkit-scrollbar {
	width: 0.25rem;
	background-color: #00a5a5;
}

/* ---------------------------- RESPONSIVE DESIGN ---------------------------- */

.intro-text {
	margin-bottom: 3rem;
}
.intro-instructions {
	width: 90%;
	margin: 0 auto;
}
.links {
	text-decoration: none;
	color: rgb(86, 226, 245);
	margin: 0.25rem 0;
	transition: 0.2s;
}
.links:hover {
	color: rgb(255, 132, 255);
	transition: 0.2s;
}
