html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: 'julius_sans_oneregular';
    src: url('fonts/juliussansone-regular-webfont.woff2') format('woff2'),
         url('fonts/juliussansone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    
    background-color: rgb(0, 0, 0);
    
}
/* ---------------------------- HEADER SECTION ---------------------------- */
header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.802);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3;

}

.header-title {
    
    height: 7rem;
     width: 45rem;
    background-image: url("./images/main/DavidName1.png");
    background-size: 100%;
    background-repeat: no-repeat; 
}

.header-thin {
    animation: shrink .25s ease-in 1 forwards;
}

.header-full {
    animation: grow .15s linear 1 forwards;
}
.header-thin1 {
    animation: shrink1 .25s ease-in 1 forwards;
}

.header-full1 {
    animation: grow1 .15s linear 1 forwards;
}
.header-full2 {
    animation: grow2 .15s linear 1 forwards;
}

@keyframes shrink {
    0% {
        height: 7rem;
        background-image: url("./images/main/DavidName1.png");
        
    }

    100% {
        height: 3rem;
        background-image: url("./images/main/DavidNameThin1.png");
    }
}

@keyframes grow {
    0% {
        height: 3rem;
        background-image: url("./images/main/DavidNameThin1.png");
        
        
    }
    
    100% {
        height: 7rem;
        background-image: url("./images/main/DavidName1.png");

    }
}

@keyframes shrink1 {
    0% {
        height: 5rem;
        background-image: url("./images/main/DavidName1.png");
        
    }

    100% {
        height: 3rem;
        background-image: url("./images/main/DavidNameThin1.png");
    }
}

@keyframes grow1 {
    0% {
        height: 3rem;
        background-image: url("./images/main/DavidNameThin1.png");
        
        
    }
    
    100% {
        height: 5rem;
        background-image: url("./images/main/DavidName1.png");

    }
}

@keyframes grow2 {
    0% {
        height: 3rem;
        background-image: url("./images/main/DavidNameThin1.png");
        
        
    }
    
    100% {
        height: 5rem;
        background-image: url("./images/main/DavidName1.png");

    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgb(71, 20, 71) #00a5a5;
}
.anchor {
    padding-top: 3rem;
}



.header-group {
    display: flex;
    flex-direction: column;
    
}

.header-tab {
    cursor: pointer;
    margin: 0 .5rem;
    color: rgba(255, 255, 255, 0.959);
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none; 
    font-size: 1.1rem;
}

.underline {
height: .125rem;
}

.header-tab:hover + .underline {
    background-image: linear-gradient(rgb(0, 121, 148),  #00a5a5);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: slideout .15s 1 forwards linear;
}



.tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 255, 255, 0.959);
    width: fit-content;
    
    margin-right: 2%;
    
}

.divider {
    margin: 0;
    color: #b297ae;
}

/* ---------------- Home Section ---------------- */
.home {
    position: relative;
    display: flex;
   
    flex-direction: column;
    align-items: center;
    padding: 7rem 0 0 0;
    
    /* background-image: url(images/background.svg);
 background-size: cover; */
}



/* --------------- SLIDESHOW SECTION --------------- */

.carousel {
    user-select: none;
    position: relative;
    width: calc(100vw - 4px);
    height: calc(45vw);
    border: none;
    overflow: hidden;
    background-color: #000000;
}


.pane-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;

}

.text-1 {
    font-size: 3rem;
    color: white;
    border: none;
}

.pane-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}

.text-2 {
    font-size: 3rem;
    color: #000000;
}

.pane-3 {
    position: absolute;
    height: 100%;
    width: 100%;

}

.text-3 {
    font-size: 3rem;
    color: #000000;
}

.main-images {
    width: 100%;
    height: 100%;
}

.slide-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 3rem;
}


.carousel:hover .hidden {
    opacity: .5;
}

.pane-image {
    width: 100%;
    height: 100%;
}

.pane {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pause {
    height: 100%;
    z-index: 2;
    bottom: 0%;
    right: 0%;
    opacity: 0;
    cursor: pointer;
}

.pause-active {
    z-index: 2;
    opacity: 0;
}

.pane-ticker {
    height: 1.2rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    z-index: 5;
    
}

.pane-tick {
    margin: 0;
    height: 100%;
    border: none;
    padding-right: .25rem;
}

.invisible-panel {
    opacity: 0;
    z-index: 0;
}

.invisible-text {
    opacity: 0;
}

.active-panel {
    opacity: 1;
    z-index: 2;
}

.manual-navigation {
    position: absolute;
    width: 20%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    bottom: 2%;
    right: 2%;
}

.forward {
    opacity: 0;
}

.backward {
    opacity: 0;
}

.forward:hover {
    animation: pulse 1s linear infinite;
    opacity: .75;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 100%;
}

.backward:hover {
    animation: pulse 1s linear infinite;
    opacity: .75;
    background-color: rgba(255, 255, 255, 0.507);
    background-size: 50%;
    border-radius: 100%;
}

.navigate {
    height: 100%;
}


/* Slide animations */

.slide-in {
    animation: slideIn .5s linear 1 forwards;
}

.fade-in {
    animation: fadeIn 1s linear 1 forwards;
}

.fade-in-one {
    animation: fadeIn .25s linear 1 forwards;
}
.fade-out {
    animation: fadeOut .25s linear 1 forwards;
}

.oval-shrink {
    animation: oval-shrink 1.5s linear 1 forwards;
}


/* Slide Animations */

@keyframes slideIn {
    from {
        right: 100%;
        opacity: 0;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Text animations */

.top-left {
    animation: top-left 1s 1 forwards linear;
}

.top-right {
    animation: top-right 1s 1 forwards linear;
}

.center-short {
    animation: center-short 1s 1 forwards linear;
}

.center-long {
    animation: center-long 1s 1 forwards linear;
}

/* Text Animations */

@keyframes slideUp {
    0% {
        top: 20%;
        right: -20%;
        width: 30%;
        text-align: center;

    }

    100% {
        top: 5%;
        right: 5%;
        width: 30%;
        text-align: center;


    }
}

@keyframes top-right {
    0% {
        opacity: 0;
        top: 5%;
        right: 4%;
        width: 30%;
        text-align: center;
    }

    50% {
        opacity: .2;
        right: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        right: 1%;
        width: 30%;
        text-align: center;
    }
}

@keyframes top-left {
    0% {
        opacity: 0;
        top: 5%;
        left: 4%;
        width: 30%;
        text-align: center;
    }

    50% {
        opacity: .2;
        left: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        left: 1%;
        width: 30%;
        text-align: center;
    }
}

@keyframes center-long {
    0% {
        opacity: 0;
        top: 2%;
        width: 100%;
        text-align: center;
    }

    50% {
        opacity: .2;
        top: 3%;
    }

    100% {
        opacity: 1;
        top: 5%;
        width: 100%;
        text-align: center;
    }
}

@keyframes center-short {
    0% {
        opacity: 0;
        top: 5%;
        width: 50%;
        left: 25%;
        text-align: center;
    }

    50% {
        opacity: .2;
        top: 3%;
    }

    100% {
        opacity: 1;
        top: 2%;
        width: 50%;
        left: 25%;
        text-align: center;
    }
}

/* ----------------- Music Section------------------------*/

.music-container {
    position: relative;
   
    margin: 0;
    user-select: none;

}


.music-header {


    font-size: 3rem;
    font-family: 'julius_sans_oneregular';
    color: white;
    padding: 1rem 0 4rem 0;
    
    width: 100%;
    text-align: center;
    border: none;
    margin: 0 0 0 0;
   
    
}

.music-title {
    font-size: 3rem;
    font-family: 'julius_sans_oneregular';
    color: white;
    margin: 1rem 0;
   
}

.music-tabs-section {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fffffff6;
    width: calc(100vw - 8px);
    height: 2rem;
    margin: 0 auto;
    background: rgb(8, 8, 8);
    padding: .5rem 0;
    border: #00a5a5 1px dotted;
   
}

.music-tab-container {
    position: relative;
    width: 19%;
    text-align: center;
    cursor: pointer;
}

.music-tab-container:hover  .underline {
    background-image: linear-gradient(rgb(0, 121, 148),  #00a5a5);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: slideout1 .15s 1 forwards linear;
}

.music-tab-button {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    color: white;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
}

.music-button-title {
    width: auto;
}

.retract {
    background-image: linear-gradient(rgb(0, 121, 148),  #00a5a5);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8%;
    animation: retract .15s 1 forwards linear;
}

@keyframes slideout {
   
    100% {    
        background-size: 70%;
    }
}

@keyframes retract {
    0% {
        background-size: 70%;
    }
    100% {    
        background-size: 0;
    }
}

.retract1 {
    background-image: linear-gradient(rgb(0, 121, 148),  #00a5a5);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    animation: retract1 .15s 1 forwards linear;
}

@keyframes slideout1 {
   
    100% {    
        background-size: 100%;
        
    }
}

@keyframes retract1 {
    0% {
        background-size: 100%;
    }
    100% {    
        background-size: 0;
    }

}

.music-sections {
    
    position: relative;
    
}

.contact-nav-text {
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    padding: 2rem 0 0;
    font-size: 1.2rem;
}

.contact-nav-text a {
    text-decoration: none;
    cursor: pointer;
    color: #00a5a5;    
}
.invisible {
    display: none;
}

/* --------------- MEDIA MUSIC SECTION --------------- */

.audio-row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 6px)  ;
    height: 35vw;
    margin: 0 0;

}

.display-window {
    position: relative;
   
    width: 60%;
    height: 100%;
    border-right:  #00a5a5 1px dotted;
    
}

.display-image {
 width: 100%;
 height: 100%;
  
}
.player-column {
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 40%;
    scrollbar-width: thin;
    scrollbar-color: rgb(71, 20, 71) #00a5a5;
   
}
.Media {
    
    border-bottom: #00a5a5 1px dotted;
    
}


/* -------------------- SCROLLBAR RELATED --------------------- */

.player-column::-webkit-scrollbar {
    width: .25rem;
    background-color:  #00a5a5;
}

.player-column::-webkit-scrollbar-thumb {

    background-color: rgb(71, 20, 71);

}


::-webkit-scrollbar-thumb {

    background-color: rgb(71, 20, 71);
    border: none;

}

::-webkit-scrollbar {
    width: 4px;
    background-color: #00a5a5;
}

/* ---------------  MUSIC LISTS SECTIONS --------------- */

.music-sections-title {
    padding: 2rem 0 0 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'julius_sans_oneregular';
}

.music-sections {

    color: white;
    width: 100%;

}

.comp-info {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    display: inline-flex;
    flex-direction: column;
    height: 24rem;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    margin: 1rem 0;
    background-color: rgba(14, 14, 14, 0.342);
    border-radius: 10%;
    line-height: 1.5rem;
    
}

.comp-info:hover {
    background-color: rgb(14, 14, 14, 0.8);
}
.instrumentation {
    display: flex;
    flex-direction: row;
}

.card-title {
    font-size: 2rem;
    padding: 1rem 0 .5rem;
    border-bottom:  #00a5a5 2px solid;
}

.fa-file-pdf {
    color: purple;
    cursor: pointer;
}

.comp-info strong {
    font-weight: bold;
    color: rgb(122, 122, 122);
    margin-right: .5rem;
    
}


/* --------------------- AUDIO PLAYER -------------------------- */

.audio-small {
    font-size: .75rem;
}

.audio-progress {
    -webkit-appearance: none;
    height: 2px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.audio-player {
    position: relative;
    width: calc(100% - 4px);
    height: 68px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(8,8,8), rgba(19, 19, 19, 0.966));
    padding: .5rem 0;
    border:  #00a5a5 1px dotted;
    
}



.audio-strong {
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
}


.audio-player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.audio-center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    white-space: nowrap;
    
}

.audio-timers-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'julius_sans_oneregular';
    width: 100%;
    height: 30%;

}

.audio-current-position {
    
    font-size: .8rem;
    margin-left: -5%;
}

.audio-time-remaining {
    font-size: .8rem;
    margin-right: -5%;
}
.prog-button-container {
    position: relative;
    height: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.audio-progress-button {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: none;
    position: absolute;
    background: radial-gradient(white, purple, black);
    margin: 0 0 0 -4px;
    
}


.audio-buttons {
    width: 10%;
    height: 40px;
    cursor: pointer;
    margin-left: 5%;
   
}

.audio-volume {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.audio-player-title {
  
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    align-self: center;


}

.volume-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
    width: 15%;
}

.audio-volumeBar {
    -webkit-appearance: none;
    background: linear-gradient(to left,  #00a5a5, rgba(0, 0, 0, 0));
    height: 6px;
    width: 80%;
    /* visibility: hidden; */
    cursor: pointer;
    outline: none;
}

.audio-progress::-webkit-progress-bar {
    background-color: rgb(20, 20, 20);
    z-index: 3;
}

.audio-progress::-moz-progress-bar {
    background-color: rgb(20, 20, 20);
    z-index: 3;
}

.audio-progress::-webkit-progress-value {
    background-image: linear-gradient(to right,rgb(173, 5, 173),  #00a5a5);
}

.audio-progress::-moz-progress-value{
    background-image: linear-gradient(to right,rgb(173, 5, 173),  #00a5a5);
}

.audio-volumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border: none;
    background: radial-gradient(white, purple, black);
    border-radius: 100%;
}

.audio-volumeBar::-moz-range-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border: none;
    background: radial-gradient(white, purple, black);
    border-radius: 100%;
}


/* ---------------- SMALL AUDIO PLAYER --------------- */




.small-player {
    position: relative;
    width: 60%;
    min-width: 290px;
    height: 68px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(68, 28, 70),  rgb(80, 45, 80), rgb(65, 38, 60), rgb(61, 40, 61));
    z-index: 0;
    font-size: .5rem;
    border-radius: 4%;
    margin: .5rem 0;
    padding: .5rem;
}

.audio-small-title {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    align-self: center;
}

.small-button {
   margin-left: 2%;
}

.small-progress {
    -webkit-appearance: none;
    height: 3px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    background-color: #00a5a5;
}

.small-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 6px;
    width: 6px;
    border: solid 1px  #00a5a5;
    background-color:  #00a5a5;
    border-radius: 100%;
}
.small-progress::-webkit-progress-bar {
    background-color: rgb(20, 20, 20);
    z-index: 3;
}

.small-progress::-moz-progress-bar {
    background-color: rgb(20, 20, 20);
    z-index: 3;
}
.small-progress::-webkit-progress-value {
    background-image: linear-gradient(to right, #00a5a5, rgb(146, 126, 146) );
}

.small-progress::-moz-progress-value{
    background-image: linear-gradient(to right,rgb(173, 5, 173),  #00a5a5);
}

.small-player-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.small-atrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'julius_sans_oneregular';
    width: 100%;
    height: 30%;
   
    
}

.small-acp {
    font-size: .8rem;
   
}

.small-atr {
    font-size: .8rem;
    
}


.small-volume-pair {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-right: 0;
}

.volumeBar-small {
    -webkit-appearance: none;
    position: absolute;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    height: 6px;
    width: 80%;
    margin-top: 0;
    cursor: pointer;
}

.small-volume {
    position: relative;
    width: 20%;
    height: 1rem;
    
}

.small-progress-button {
    background: radial-gradient(white,  #00a5a5, black);
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: none;
    position: absolute;
    margin: 0 0 0 -5px;
}

.volumeBar-small::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color:  #00a5a5;
    border-radius: 100%;
}



/* -------------------- News Section -------------------- */
.news {
   
    user-select: none;
}

.news-title {
    margin: 2rem  0 4rem 0;
    font-size: 3rem;
    font-family: 'julius_sans_oneregular';
    color: white;
    padding: 0;
   
    width: 100%;
    text-align: center;
    border: none;

}
.news-items-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    
}

.news-row {
    display: flex;
    margin: .5rem 0;
    padding: .5rem;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(15, 0, 12);
    border: none; 
}

.news-expand {
cursor: pointer;
color: #00a5a5;
}


.liz-c {
    display: none;
}



.news-slot-main { 

    background: rgba(112, 89, 121, 0.796);
    top: 0;
    bottom: 0;
    width: 48%;
    padding: 0 .5rem;   
    
}

.news-slot-one {
    width: 48%;
    
    padding: 0 .5rem;
    position: relative;
}

.news-slot-one a {
    text-decoration: none;
    color: #00a5a5; 
}

.news-slot-two {
    width: 22%;
    border: purple 1px solid;
}

.news-item-title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(236, 236, 236);
    margin-bottom: 1rem;
}

.news-text {
    color: rgb(240, 240, 240);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.news-text-1 {
    color: rgb(240, 240, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem; 
}

.news-image {
    height: 200px;
    width: 138px;
    float: left;
    margin: 0 1rem 0 0;
}

.news-image-1 {
    height: 150px;
    width: 150px;
    float: left;
    margin: 0 1rem 0 0;
}

.news-image-full {
    width: 80%;
    margin: 0 auto;  
    
}

.square {
    height: 150px;
    width: 150px;
}
/* -------------------- BLOG SECTION -------------------- */
.blog {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.blog-title {
    background-color: rgb(12, 11, 11);
    font-size: 3rem;
    padding: 1rem 0;
    color: white;
    font-family: 'julius_sans_oneregular';
    text-align: center;
    margin: 0 0 1rem 0;
}
.blog-items-container {

    padding: 1rem 0;
    
}

.blog-row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem;
    width: 98%;
    height: fit-content;
}

.preview-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.blog-preview-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 46%;
    height: 18.75rem;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5rem;
}


.other-story.main-story {
    position: relative;
    width: 50%;
    height: 30rem;
    flex: 0 0 auto;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
   
}

.nav-title {
    font-size: 1.5rem;
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    width: 100%;
    height: 10%;
    line-height: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);

}

.nav-image {
    height: 90%;
    width: 100%;

}



.blog-row-two {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    flex-wrap: wrap;
}
.other-story {
  
    width: 32%;
    height: 16rem;
}

/* ------------ About Me ------------ */

.about-me {
    margin: 0;
    color: white;
    user-select: none;
    position: relative;
    
}

.about-me-title {
    margin: 2rem  0 4rem 0;
    font-size: 3rem;
    font-family: 'julius_sans_oneregular';
    color: white;
    
    width: 100%;
    text-align: center;
    border: none;
}

.about-me-bg {
    background: rgb(8, 8, 8);
    width: 100%;
    padding: 1rem 0;
    
}

.about-me-text {
    width: 55%;
    margin: 0 auto;
}

.about-me-text a {
    text-decoration: none;
    color: #00a5a5; 
    
    
}

.my-image {
    height: 500px;
    width: 400px;
    float: left;
    margin: 0.5rem 1rem 0 1rem;
    border: none;
}

.about-me-text p {
    line-height: 1.5;
    text-indent: 50px;
  
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.3rem;
}

/* -------------------- CONTACT -------------------- */

.contact {
    user-select: none;
  
}

.contact-title {
    margin: 2rem  0 4rem 0;
    font-size: 3rem;
    font-family: 'julius_sans_oneregular';
    color: white;
    width: 100%;
    text-align: center;
    border: none;
}
.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(8,8,8);
    border: none;
    
}
.contact-body p {
position: relative;
 margin: 1rem 0 4rem 0;
 text-align: center;
 color: white;
 font-size: 1.5rem;
 width: 60%;
 
}

.contact-body {
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0 0 8rem 0;
}

.contact-text a {
    text-decoration: none;
    cursor: pointer;
    color: #00a5a5;    
}

#email-content {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    width: 90%;
    
}

.user-name {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.user-email {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user-name {
    width: 75%;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
}

#user-email {
    width: 75%;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
}

.form-labels{
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:  0 0 2rem 0;
    
}

.message-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 0 2rem 0;
    
}

.message-col label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.email-submit {
    background-color: #00a5a5;
    padding: .5rem;
    border: none;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10%;
}

/* --------------------- Composer Quotes ------------------ */

.spotlight-text {
    position: relative;
    color: white;
    margin: 4rem auto .5rem;
    font-family: 'Shadows Into Light', cursive;
   width: 50%;
    font-size:  2rem;
    text-align: center;

}

.author-name {
    position: relative;
    color: white;
    margin: 0 auto 4rem;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    max-width: 25%;
    text-align: center;
    
}
/* -------------------- FOOTER -------------------- */
footer {
    position: relative;
    background-color: rgba(4,4,4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 99%;
    z-index: 3;
    margin: 0 auto 2rem;
    user-select: none;
}

.footer-icons {
   height: 2rem;
   border: none;
   outline: none;
   margin: 0 1rem 0;
   cursor: pointer;
}


.advent {
    font-family: 'Advent Pro', sans-serif;
    color: white;
}

.signature {
    height: 3rem;
    
  }
  .by-me {
    
    display: flex;
    width: fit-content;
    font-family: 'Advent Pro', sans-serif;
    
    
  }
  
  .by-me p {
    padding-right: .8rem;
    padding-left: .8rem;
    align-self: center;
    font-size: 1.2rem;
    color:  #00a5a5;
    
  }
  .nav-icons-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
}


  /* ---------------------------- RESPONSIVE DESIGN ---------------------------- */
 
  @media (max-width: 1350px) {



      .comp-info {
          width: 48%;

      }
  }


  @media (max-width: 1050px) {

      .header-title {
          width: 35rem;

      }

      .form-row {

          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          margin: 0 0 2rem 0;
          width: 100%;
      }


      .email-content {
          margin: 1rem 0 1rem 0;
          width: 100%;

      }

      .music-title {
          font-size: 2rem;
          padding: 0 0 1rem;
      }

      .news-title {
          font-size: 2rem;
          padding: 0;
      }
      .news-image-full {
        width: 46vw;
        height: 30vw;
        
    }

      .user-name {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 1rem 0 2rem 0;
          width: 100%;
      }

      .user-email {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 0 1rem 0;
          width: 100%;
      }

      #user-name {
          width: 90%;
      }

      #user-email {
          width: 90%;
      }

      .intro {
          font-size: 1.2rem;
      }

      .contact-title {
          font-size: 2rem;
          margin-bottom: 1rem;
          padding: 1rem 0;
      }

      .contact-body p {
          font-size: 1.2rem;
          margin: .5rem;
          width: 98%;
      }

      .contact-body {
          padding-bottom: 4rem;
      }

      .contact-form {
          width: 80%;
      }

      .audio-row {
          position: relative;
          display: flex;
          flex-direction: column;
          width: calc(100vw - 4px);
          height: fit-content;
          margin: 0 0;
          align-items: center;

      }

      .player-column {
          height: 8.6rem;
          width: 98vw;
         
          
      }

      .display-window {
          position: relative;
          width: 98vw;
          border: #00a5a5 1px dotted;
          border-top: none;

      }

      .Media {
          border: none;
      }



      .music-header {
          padding-bottom: 1rem;
      }

      .music-container {
          margin: 0;
      }

      .news-title {
          margin: 1rem 0 1rem;
      }

      .about-me {
          margin: 0;
      }

      .about-me-title {
          margin: 0;
          padding: 1rem 0 1rem;
          font-size: 2rem;
          
      }
      .about-me-text {
       width: 75%;
    }

  }

  @media (max-width: 950px) {

      .header-title {
          width: 30rem;

      }

      .blog-preview-window {
          height: 0;
          display: none;

      }

      .blog-row-two {
          margin: 0 0 0 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 98%;
          height: fit-content;

      }

      .other-story {
          width: 66%;
          height: fit-content;
          margin-bottom: 6rem;

      }

      .other-story.main-story {
          width: 80%;
          height: fit-content;
      }


  }

  @media (max-width: 900px) {
      header {
          flex-direction: column;
          justify-content: center;

      }

      .header-title {
          /* width: fit-content; */

          text-align: center;
      }

      .anchor {
          padding-top: 71px;
      }

      .home {
          padding-top: 103px;
      }

      .card-title {
          font-size: 1.4rem;
      }

      .comp-info {
          font-size: 1rem;

      }

      .music-tab-button {

          font-size: 1.1rem;
      }
      .spotlight-text {
          font-size: 1rem;
          width: 90%;
          margin: 1rem auto 0;

      }
      .author-name {
          font-size: 1rem;
          min-width: 80%;
      }
   
  }

  @media (max-width: 700px) {
      .header-title {
          width: 26rem;
      }

      .other-story {
          width: 66%;

          margin-bottom: 1rem;

      }

      .news-row {
          flex-direction: column;
          width: 80%;

      }

      .news-slot-main,
      .news-slot-one {
          width: 98%;
          padding: .5rem;
      }

      .news-item-title {
          text-align: center;
          padding: 1rem 0;
      }

      .manual-navigation {

          height: 1.5rem;
          bottom: 2%;
          right: 2%;
      }

      .pane-ticker {
          height: 1rem;
      }

      .about-me-text {
          font-size: 1.1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          font-size: 1rem;

      }

      .my-image {

          float: none;

          width: 248px;
          height: 310px;

      }

     

      .news-text {
          font-size: 1.1rem;
          line-height: 1.5rem;
      }

      .news-text-1 {
          font-size: 1.1rem;
          line-height: 1.5rem;
      }

      .Chamber, .Orchestral, .Vocal\/Choral, .Solo {
          text-align: center;

      }

      .comp-info {
          font-size: .8rem;
          margin: 1rem 0;
          background-color: rgba(3, 3, 3, 0.342);
          border-radius: 10%;
          width: 80%;

      }
      .footer-icons {
        height: 1.5rem;
        margin: 0 .5rem 0;
    }
    footer {
        height: 5rem;
        background-color: rgb(8, 8, 8);
    }

  }

  @media (max-width: 600px) {
      .header-title {
          width: 20rem;

      }
      .news-image-full {
        width: 78vw;
        height: 50vw;
        margin: 0 auto;
        
    }
     

      .signature {
          height: 2rem;
      }

      .music-button-title {
        font-size: .8rem;
    }
      .by-me p {
          padding-right: .5rem;
          padding-left: .5rem;
          align-self: center;
          color: white;
          font-size: .8rem;
      }

      .intro {
          font-size: 1rem;
      }

      .contact-body p {
          font-size: 1rem;
      }

      .tabs-section {
          padding: 0 0 .5rem 0;
          margin-top: -.5rem;
      }

      .spotlight-text {
          font-size: 1.5rem;
      }





      .manual-navigation {

          height: 1rem;
          bottom: 2%;
          right: 2%;
      }

      .pane-ticker {
          height: .7rem;
      }
  }
  @supports (-webkit-touch-callout: none) {
    
  }
  