@import "../SCSS/mixins";

@each $planet_name in $planet_names {
	@include planet-info($planet_name);
}

@include planet-info(neptune);

.planet-grow {
	animation: grow-planet 0.8s forwards;
}
.planet-shrink {
	animation: shrink-planet 0.8s forwards;
}

@keyframes grow-planet {
	100% {
		width: 25vw;
		height: 25vw;
		transform: translate(calc(47.5vw - 25vw), calc(var(--vh, 1vh) * -44));
	}
}

@keyframes shrink-planet {
	0% {
		width: 25vw;
		height: 25vw;
		transform: translate(calc(47.5vw - 25vw), calc(var(--vh, 1vh) * -44));
	}
	100% {
		width: 1px;
		height: 1px;
		transform: translate(0, 0);
	}
}

@media screen and (max-width: 1400px) {
	@keyframes grow-planet {
		100% {
			width: 30vw;
			height: 30vw;
			transform: translate(10vw, calc(var(--vh, 1vh) * -42));
		}
	}

	@keyframes shrink-planet {
		0% {
			width: 30vw;
			height: 30vw;
			transform: translate(10vw, calc(var(--vh, 1vh) * -42));
		}
		100% {
			width: 1px;
			height: 1px;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-width: 900px) and (orientation: landscape) {
	@keyframes grow-planet {
		100% {
			width: 25vw;
			height: 25vw;
			transform: translate(-40.5vw, calc(var(--vh, 1vh) * -22));
		}
	}

	@keyframes shrink-planet {
		0% {
			width: 25vw;
			height: 25vw;
			transform: translate(-40.5vw, calc(var(--vh, 1vh) * -22));
		}
		100% {
			width: 1px;
			height: 1px;
			transform: translate(0, 0);
		}
	}
}

@media screen and (max-width: 500px) {
	@keyframes grow-planet {
		100% {
			width: 45vw;
			height: 45vw;
			transform: translate(-17vw, calc(var(--vh, 1vh) * -40));
		}
	}

	@keyframes shrink-planet {
		0% {
			width: 45vw;
			height: 45vw;
			transform: translate(-17vw, calc(var(--vh, 1vh) * -40));
		}
		100% {
			width: 1px;
			height: 1px;
			transform: translate(0, 0);
		}
	}
}
