@import "../SCSS/mixins";

.solar-system {
	margin: auto auto;
	height: 80vh;
	width: 80vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 0;

	.sun {
		@extend %planet;
		background: url("../../images/sun_orbit.svg");
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		margin-top: -25px;
		margin-left: -25px;
	}

	@include planet(mercury, 2px, 30px, 5s, -1s);

	@include planet(venus, 4px, 50px, 20s, -10s);

	@include planet(earth, 5px, 70px, 25s, -6s);

	@include planet(mars, 2.5px, 120px, 50s, -25s);

	@include planet(jupiter, 33px, 200px, 250s, -200s);

	@include planet(saturn, 40px, 300px, 450s, -50s);

	@include planet(uranus, 12px, 350px, 600s, -220s);

	@include planet(neptune, 11px, 400px, 700s, -698s);

	@include planet(pluto, 1px, 500px, 1000s, -500s);
}
@keyframes circle {
	to {
		transform: rotate(1turn);
		offset-rotate: 90deg;
	}
}
