$news-index: 0, 1, 2;

@mixin slide-down-element($index) {
	.slide-down-row-#{$index} {
		height: calc(var(--news-height-#{$index}) + 3rem);
		transition: 0.5s;
	}
	.news-wrapper-#{$index} {
		transform: translateY(calc((var(--news-height-#{$index}) * -1) - 3rem));
		display: flex;
		flex-direction: column;
		transition: 0.5s;
		opacity: 0;
		position: absolute;
		z-index: 0;
	}
}

.news {
	user-select: none;
}

.news-items-container {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
}

.news-row {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: rgb(15, 0, 12);
	border: none;
	width: calc(100vw - 6px);
	max-width: calc(100vw - 6px);
	overflow: hidden;
	height: 3rem;
	transition: 0.5s;
	z-index: 1;
}

@each $index in $news-index {
	@include slide-down-element($index);
}

.slide-down {
	transform: translateY(calc(0% + 3rem));
	opacity: 1;
	transition: 0.5s;
	z-index: 2;
}

.news-slot-main {
	background: rgba(112, 89, 121, 0.796);
	top: 0;
	bottom: 0;
	width: 98%;
	padding: 2rem 0.5rem;
	display: flex;
	align-self: center;
}

.news-slot-one {
	width: 100%;
	display: flex;
	padding: 2rem 0.5rem;
	position: relative;
	justify-content: space-around;
}

.news-slot-one a {
	text-decoration: none;
	color: #00a5a5;
}

.news-info-one {
	width: 45%;

	position: relative;
}

.news-info-center {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.news-info-two {
	width: 45%;

	position: relative;
}

.news-item-title {
	font-family: "Julius Sans One", sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
	height: 3rem;
	color: rgb(236, 236, 236);
	margin-bottom: 1rem;
	width: 100%;
	z-index: 3;
	line-height: 2.9rem;
	cursor: pointer;
	background: rgb(37, 9, 33);
}

.news-text {
	color: rgb(240, 240, 240);
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	font-family: "Advent Pro", sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	position: relative;
}

.news-image {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0 1rem 0 0;
}

.news-image-full {
	max-width: 100%;
	height: 20vw;
}

.news-highlight {
	color: #00a5a5;
}

@media (max-width: 1400px) {
	.news-title {
		font-size: 2rem;
		padding: 0;
		margin: 1rem 0 1rem;
	}

	.news-slot-one {
		width: 96%;
	}
	.news-slot-main {
		width: 96%;
	}
	.news-text {
		font-size: 1.1rem;
		line-height: 1.3rem;
	}
	.news-image {
		height: 150px;
		width: 150px;
		float: left;
		margin: 0 1rem 0 0;
	}
	.news-image-full {
		max-width: 100%;
		height: 30vw;
	}
}

@media (max-width: 700px) {
	.news-row {
	}

	.news-slot-main,
	.news-slot-one {
		width: 96%;
		display: inline;
		padding: 0.5rem;
	}

	.news-item-title {
		font-size: 1.5rem;
	}

	.news-text {
		font-size: 1rem;
	}
	.news-info-one,
	.news-info-two {
		width: 100%;
		margin: 0.5rem 0;
	}
	.news-image-full {
		max-width: 100%;
		height: 50vw;
	}
}

@media (max-width: 500px) {
}
