html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
    background: no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poiret One', cursive;
    width: 100vw;
    height: 100vh;
}

h1 {

    font-size: 3rem;
    color: rgba(157, 236, 236, 0.8);
}

h2 {
    font-weight: 100;
    font-size: 4rem;
    color: rgba(149, 158, 158, 0.7);
}

.clock-face {
    display: flex;
    background-color: rgba(6, 22, 22, 0.87);
   
    width: 70vw;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 1%;
    min-width: 322px;
    margin: 10vh auto;
}

.time {
    color: rgb(250, 202, 250);

}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 98%;
   
    z-index: 3;
}

.date {
    font-weight: 100;
    font-size: 2rem;
    color: rgba(93, 100, 100, 0.8)
}

.season {
    height: 2rem;
    opacity: 0.05;
    border-radius: 100%;
    border: 2px solid grey;
}

.active {
    opacity: 0.8;
}

.upper-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.main-info-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 2vh 0 5vh;

}

.weather-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(228, 228, 228, 0.137);
    padding: 1rem;
    justify-content: space-between;
    width: 30%;
}

.currently {
    color: aquamarine;
    margin: 0 .5rem 0 0;
}

.location-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3vh;

}

.weather-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.weather-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.376);
    padding: 1rem;
    height: 40%;
    align-items: center;
}

.weather-description {
    text-align: center;
}

.temp {
    font-size: 4rem;
    color: rgba(157, 236, 236, 0.8);
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    height: 55%;

}

.weather-titles,
.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.weather-titles h3,
.weather-data h3 {
    margin: 5% 0 0 0;
}

.time-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.watch-face {
    height: 15vw;
    width: 15vw;
    background-image: url('images/clock.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    z-index: 0;
    border-radius: 100%;
    margin: 5vh, 0 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.second {
    position: absolute;
    height: 44%;
    background-color: rgb(38, 255, 0);
    width: 1%;
    transform-origin: bottom;
    z-index: 1;
    margin-top: 6%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.minute {
    position: absolute;
    height: 34%;
    background-color: rgb(153, 153, 153);
    width: 2%;
    transform-origin: bottom;
    z-index: 1;
    margin-top: 16%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.hour {
    position: absolute;
    height: 25%;
    background-color: rgb(255, 255, 255);
    width: 4%;
    transform-origin: bottom;
    z-index: 1;
    margin-top: 25%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
}

.crown {
    position: absolute;
    height: 7%;
    width: 7%;
    z-index: 2;
    border-radius: 100%;
    background-image: radial-gradient(rgb(20, 20, 20), rgb(58, 54, 54), rgb(56, 56, 56), rgb(42, 42, 42));
    align-self: center;
}

.article-container {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 30%;
    color: white;
    cursor: pointer;


}


.article-title {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);


}

.article-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
   
    background-repeat: no-repeat;
    background: no-repeat center center;
    background-size: auto 100%;

}

.link-to-article {
    text-decoration: none;
    color: white;


}

.article-author {
    position: absolute;
    padding: 2%;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
}


.by-me {
    position: absolute;
    display: flex;
    right: 2%;
    top: 6px;
}

.by-me p {
    padding: 0 .75rem;
    align-self: center;
    color: white;

}

.signature {
    height: 3rem;
}


@media screen and (max-width: 1400px) {

    .clock-face{
        width: 96vw;
    }

    .watch-face {
        width: 25vw;
        height: 25vw;
    }

}


@media screen and (max-width: 1100px) {

    .clock-face {
        width: 98vw;
    }

    .time {
        font-size: 3rem;
    }


    .article-title {
        font-size: 1.3rem;
    }

    .watch-face {
        width: 28vw;
        height: 28vw;
    }
}

@media screen and (max-width: 900px) {
    .clock-face {
        width: calc(100vw - 2px); 
        height: 100vh;
        margin: 0;
    }

    .time {
        font-size: 2rem;
    }


    .article-title {
        font-size: 1rem;
    }

    .watch-face {
        width: 28vw;
        height: 28vw;
        margin-top: 5vh;
    }
    .location-text {
          font-size: 1rem;
    }
    .temp {
        font-size: 1.5rem;
        width: 50%;
    }
    .weather-description {
        font-size: 1rem;
    }
    .weather-icon {
        width: 50px;
        height: 50px;
    }
    .weather-data h3, .weather-titles h3 {
        font-size: 1rem;
    }
    .weather-icon-container {
        align-items: center;
    }

    .by-me {
        left: 38vw;
        top: 85vh;
    }

    .time-column {
        justify-content: flex-start;
    }
    .date {
        font-size: 1rem;
    }
    .top-row {
        align-items: center;
    }
    .season {
        height: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .main-info-row {
        flex-direction: column;
        padding: 0;
        
    }
     .clock-face {
         
       position: relative;
       width: 100%;

     }

    .time-column, .article-container, .weather-container {
        width: 100%;
        height: 33%;
        align-items: center;
    }

    .time-column {
        
        
    }
    .time {
        height: 20%;
       
    }

    .watch-face {
        margin: 0;
        width: 28vh;
        height: 28vh;

    }
    .weather-header {
        flex-direction: column;
        padding: 10vw;
    }
    .temp, .weather-icon-container {
        width: 100%;
        text-align: center;
    }
    .weather-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 70%;

    }
    .weather-data h3, .weather-titles h3 {
        font-size: 1rem;
    }

    .weather-container {
        padding: 0;
    }

    .weather-info {
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
    }

    .article-author {
        padding: .15rem 0;
        top: initial;
        margin-bottom: 0;
    }
    .location-container {
        padding: 0;
    }
    .by-me {
        position: absolute;
        display: flex;
        left: initial;
        right: 0;
        top: 0.5%;
        align-items: center;
    }
    
    .by-me p {
        padding: 0 .25rem;
        align-self: center;
        color: white;
        font-size: .6rem;
        display: none;
    }
    
    .signature {
        height: 1rem;
    }
}