{
	"plugins": [
		[
			"prismjs",
			{
				"languages": [
					"javascript",
					"css",
					"html",
					"jsx",
					"markup",
					"js",
					"sass"
				],
				"plugins": ["line-numbers", "show-language"],
				"theme": "okaidia",
				"css": true
			}
		]
	]
}
